<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/normalize.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="app">
    <div class="login">
      <div class="container">
        <div class="login__heading">LOGIN</div>
        <form action="" class="login-form">
          <div class="error">
            <p class="error-text">
              Error: username is valid
            </p>
            <i class="error-icon fa fa-times"></i>
          </div>
          <input type="text" name="username" placeholder="Enter your username">
          <input type="password" name="password" placeholder="Enter your password">
          <button class="login-form__btn">login</button>
          <div class="login__line">or</div>
          <div class="login-action">
            <a href="">Forgot password?</a>
            <a href="" class="login-action__forward">Signup</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>