<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/normalize.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="app">
    <div class="signup">
      <div class="container">
        <div class="signup__heading">Signup</div>
        <form action="" class="signup-form">
          <div class="error">
            <p class="error-text">
              Error: username is valid
            </p>
            <i class="error-icon fa fa-times"></i>
          </div>
          <input type="text" name="username" placeholder="username">
          <input type="text" name="email" placeholder="email">
          <input type="text" name="fullname" placeholder="fullname">
          <input type="password" name="password" placeholder="password">
          <button class="signup-form__btn">signup</button>
          <div class="signup__line">or</div>
          <div class="signup-action">
            <a href="">Forgot password?</a>
            <a href="" class="signup-action__forward">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>